*{
	padding: 0;
    margin: 0;
}
header{
   height: 100px;
}
header img.logo{
	float: left;
	margin-left: 100px;
}
header img.logoGithub{
	float: right;
	margin-top: 50px;
	margin-right:10px; 
}
header p{
	padding-top:30px; 
}
header p a{

	font-size: 30px;
	font-weight:bolder;
	color: #fff;
	text-decoration:none;
}
header p a:hover{
	text-decoration:underline;
}
section article ul{
	position: relative;
	margin: 0 auto;
	padding: 10px 0px ;
}
section article ul li {
	position: relative;
	margin:10px; 
	width: 300px;
    padding: 10px;
    height: 50px;
    float: left;
    box-shadow: 0 0 2px #949494;  
    display: flex;
    flex-direction: column;
    justify-content: center; 

}
section article ul li:hover{
	background-color:  #29bcff;
}
section article ul li:hover a ,section article ul li:hover a.code{
    color: white;
}
section article ul li span{
	font-size: 0.5em;
	color: #f0ad4e;
	position: absolute;
	top: -5px;
	left: 5px;
}
section article ul li a{
	color: #000;
	text-decoration:none;
	 white-space:nowrap;
	 overflow:hidden;
	 text-overflow:ellipsis;
}
section article ul li a.code{
	color: #29bcff;
	font-size: 0.8em;
	position: absolute;
	bottom: 0px;
	right: 0px;
}
aside {
    top: 100px;
    
}
aside h1 {
    border-left: 10px solid #29bcff;
    color: #000;
    line-height: 1.5em;
}
